body{
    overflow: hidden;
    color: white;
    background-image: url("assets/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 100px;
}
.header{
    font-size: 8rem;
    font-family: 'Holtwood One SC', serif;
    margin-bottom: -262px;
    margin-top: -121px;
    z-index: -1;
    opacity: 0.4;
}
.sub{
    font-size: 2.5rem;
    font-family: 'Holtwood One SC', serif;
    margin-left: 38px;
}
.message{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: -41px;
    line-height: 0.3;
}
.text{
    display: flex;
    flex-direction: column;
}
.share{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 38px;
}
.find-us{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

#castor{
    position: absolute;
}
#eye1,#eye2{
    position: absolute;
}
#left-socket{
    left: 21px;
    right: auto;
    top: 37px;
    width: 18px;
    height: 23px;
    position: absolute;
}
#right-socket{
    left: 78px;
    right: auto;
    top: 37px;
    width: 18px;
    height: 23px;
    position: absolute;
}
#zend{
    opacity: 0;
    left: auto;
    right: 121px;
    position: relative;
    transition: opacity 0.2s;
}

#creature{
    bottom: 218px;
    left: 50%;
    position: absolute;
    z-index: 1;
}
#trunk{
    bottom: 0;
    left: 47%;
    position: absolute;
}

#rib{
    right: 111px;
    position: relative;
    top: 102px;
    z-index: 2;
    opacity: 0;
    transition: transform 2s, opacity 0.2s;
}
