body{
    color: white;
    background-image: url("assets/bg.svg");
}
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 100px;
}
.header{
    font-size: 8rem;
    font-family: 'Holtwood One SC', serif;
    margin-bottom: -262px;
    margin-top: -218px;
    z-index: -1;
    opacity: 0.4;
}
.sub{
    font-size: 2.5rem;
    font-family: 'Holtwood One SC', serif;
    margin-left: 38px;
}
.message{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: -41px;
    line-height: 0.3;
}
.text{
    display: flex;
    flex-direction: column;
}
.share{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 38px;
}
.find-us{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}
.morf{
    width: 50px;
    height: 50px;
    rotate: 90deg;
}

#castor{
    align-self: flex-end;
}
#eye1{
    position: absolute;
} #eye2 {
    position: absolute;
}